<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- sTradeResultService -->
	<bean id="sTradeResultService"
		class="com.froad.recon.reconciliation.service.impl.STradeResultServiceImpl">
		<property name="sTradeResultDAO" ref="sTradeResultDAO" />
		<property name="snoReconDAO" ref="snoReconDAO" />
		<property name="sdelayDAO" ref="sdelayDAO" />
		<property name="ssuccessDAO" ref="ssuccessDAO" />
		<property name="sexceptionDAO" ref="sexceptionDAO" />
	</bean>
	<!-- ssuccessService -->
	<bean id="ssuccessService"
		class="com.froad.recon.reconciliation.service.impl.SsuccessServiceImpl">
		<property name="ssuccessDAO" ref="ssuccessDAO" />
	</bean>
	<!-- snoReconService -->
	<bean id="snoReconService"
		class="com.froad.recon.reconciliation.service.impl.SnoReconServiceImpl">
		<property name="snoReconDAO" ref="snoReconDAO" />
	</bean>
	<!-- sexceptionService -->
	<bean id="sexceptionService"
		class="com.froad.recon.reconciliation.service.impl.SexceptionServiceImpl">
		<property name="sexceptionDAO" ref="sexceptionDAO" />
	</bean>
	<!-- sdelayService -->
	<bean id="sdelayService"
		class="com.froad.recon.reconciliation.service.impl.SdelayServiceImpl">
		<property name="sdelayDAO" ref="sdelayDAO" />
		<property name="queryService" ref="queryService" />
	</bean>

</beans>