<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
   
 	<!-- sTradeResultManager-->	
	<bean id="sTradeResultDAO" class="com.froad.recon.reconciliation.dao.impl.STradeResultDAOImpl" parent="hibernateBaseDao"/>
    <!-- ssuccessManager-->	
	<bean id="ssuccessDAO" class="com.froad.recon.reconciliation.dao.impl.SsuccessDAOImpl" parent="hibernateBaseDao"/>
    <!-- snoReconManager-->	
	<bean id="snoReconDAO" class="com.froad.recon.reconciliation.dao.impl.SnoReconDAOImpl" parent="hibernateBaseDao"/>
    <!-- sexceptionManager-->	
	<bean id="sexceptionDAO" class="com.froad.recon.reconciliation.dao.impl.SexceptionDAOImpl" parent="hibernateBaseDao"/>
    <!-- sdelayManager-->	
	<bean id="sdelayDAO" class="com.froad.recon.reconciliation.dao.impl.SdelayDAOImpl" parent="hibernateBaseDao"/>
</beans>